footer {
  background: radial-gradient(circle, red, rebeccapurple, violet);
  font-family: 'Poppins', serif;
  padding: 28px;
  text-align: center;
  font-size: 1rem;
  color: #f6fd98;
  text-shadow: 0 0 20px rgb(227, 255, 103);
  letter-spacing: 1px;
}
@media (max-width: 640px) {
  footer {
    h5 {
      font-size: 1rem;
    }
  }
}
