#Signos {
  text-align: center;
  font-family: Poppins, serif;

  h2 {
    color: rgb(253, 255, 130);
    margin-bottom: 12px;
    margin-top: 72px;

  }
  .row {
    display: grid;
    grid-template-columns: 280px 295px 280px 280px;

  }
  .card {
    height: 432px;
    margin-top: 21px;
    border: none;
    background-color: transparent;
    color: white;
    background: radial-gradient(circle, rgba(243, 3, 211, 0.685),rgb(83, 65, 184), rgba(200, 255, 71, 0.925));

    .card-header {
      border: none;
    h3 {
      margin: 3px 48px 6px;
      font-size: x-large;
      text-align: center;
      color:rgb(253, 255, 130);
    }
    p {
      text-align: center;
      margin: 0;
      font-size: smaller;
    }
    img {
      width: 50%;
      margin: 6px;
    }
  }
  .card-body {
    font-size: 0.9rem;
    text-align: justify;
  }
  .card-footer {
    font-size: small;
    // background-color: #80b4e5;
    border: none;
  }
  &:hover {transform: scale(1.1);transition: transform 0.4s;}
  }
}
